- name: Setup networking
  hosts: all
  become: true
  vars:
    management_bridge: "br-mgmt"
  tasks:
    - name: Create bridge for management network
      ignore_errors: true # noqa: ignore-errors
      changed_when: false
      ansible.builtin.command:
        cmd: "ip link add name {{ management_bridge }} type bridge"

    - name: Create fake interface for management bridge
      ignore_errors: true # noqa: ignore-errors
      changed_when: false
      ansible.builtin.command:
        cmd: "ip link add dummy0 type dummy"

    # NOTE(mnaser): The bridge will not go up until it has an interface
    #             so we need to assign the dummy interface to the bridge
    - name: Assign dummy interface to management bridge
      ignore_errors: true # noqa: ignore-errors
      changed_when: false
      ansible.builtin.command:
        cmd: "ip link set dummy0 master {{ management_bridge }}"

    - name: Assign IP address for management bridge
      ignore_errors: true # noqa: ignore-errors
      changed_when: false
      ansible.builtin.command:
        cmd: "ip addr add 10.96.240.200/24 dev {{ management_bridge }}"

    - name: Bring up interfaces
      ignore_errors: true # noqa: ignore-errors
      changed_when: false
      ansible.builtin.command:
        cmd: "ip link set {{ item }} up"
      loop:
        - br-mgmt
        - dummy0

